<nav role="navigation" aria-label="Main navigation">
    {% if page.url == "/" %}
    <ul class="navigation-list">
      <li class="navigation-list-item active"><a href="" class="navigation-list-link active">Home</a>
      </li>
      <li class="navigation-list-item"><a href="{{site.baseurl}}/python/demo" class="navigation-list-link">Python</a>
      </li>
      <li class="navigation-list-item"><a href="{{site.baseurl}}/go/demo" class="navigation-list-link">Go</a>
      </li>
    </ul>
    {% elsif page.collection == "go" %}
    <ul class="navigation-list">
      {% assign go_sorted = (site.go | sort: 'date') | reverse %}
      {% for post in go_sorted %}
        {% if post.url == page.url %}
          <li class="navigation-list-item active"><a href="{{site.baseurl}}{{post.url}}" class="navigation-list-link active">{{post.title}}</a>
          </li>
        {% else %}
          <li class="navigation-list-item"><a href="{{site.baseurl}}{{post.url}}" class="navigation-list-link">{{post.title}}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    {% elsif page.collection == "python" %}
    <ul class="navigation-list">
      {% assign python_sorted = (site.python | sort: 'date') | reverse %}
      {% for python_post in python_sorted %}
        {% if python_post.url == page.url %}
          <li class="navigation-list-item active"><a href="{{site.baseurl}}{{python_post.url}}" class="navigation-list-link active">{{python_post.title}}</a>
          </li>
        {% else %}
          <li class="navigation-list-item"><a href="{{site.baseurl}}{{python_post.url}}" class="navigation-list-link">{{python_post.title}}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    {% endif %}
</nav>
