
code {
  font-size: 87.5%;
  color: #e83e8c;
  word-wrap: break-word;
  border: $border $border-color;
  border-radius: $border-radius;
}

a > code {
  color: inherit;
}

pre code {
  font-size: 0.8rem;
  color: inherit;
  word-break: normal;
}
pre {
    background: #eee;
    padding: 5px;
    font-size: 14px;
    display: block;
    color: #212529;
}
/*------------------------For Highlighting code----------------------*/
.featured-custom{
  top: 70px;
}

.material-icons {
  font: 24px/1 "Material Icons";
  font-style: normal;
  font-variant-caps: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 24px;
  line-height: 1;
  font-family: "Material Icons";
  font-size-adjust: none;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-variant-alternates: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  font-language-override: normal;
  font-feature-settings: normal;
  font-variation-settings: normal;
}
.fa-highlighter:before {
  content:""
 }
 pre .highlight {
  background:#fffde7;
  padding:2px
 }
 .pln {
  color:#222
 }
 @media screen {
  .str,
  .highlight .s,
  .highlight .s1,
  .highlight .s2 {
   color:#1b87c9
  }
  .kwd,
  .highlight .k,
  .highlight .kc,
  .highlight .kd,
  .highlight .kn,
  .highlight .kp,
  .highlight .kr,
  .highlight .kt,
  .highlight .na {
   color:#1FBAAC
  }
  .com,
  .highlight .c,
  .highlight .c1,
  .highlight .cm {
   color:#999999
  }
  .pun,
  .highlight .p,
  .opn,
  .highlight .o,
  .clo {
   color:#222
  }
 }
 .language-console .highlight {
  background:#212121;
  color:#64DD17
 }
 .language-console .highlight .go {
  color:white
 }
 pre.console-output {
  background:#212121;
  color:white
 }
 .language-terminal .highlight {
  background:#212121;
  color:#64DD17
 }
 .language-terminal .highlight .gp {
  color:#9E9E9E
 }
 .language-terminal .highlight .go {
  color:white
 }
 .language-terminal .highlight .nb,
 .language-terminal .highlight .nt {
  color:#99BB00
 }
 .language-terminal .highlight .nv {
  color:#03bbbb
 }
 .language-terminal .highlight .o {
  color:#9E9E9E;
  font-weight:bold
 }
 .language-terminal .highlight .s,
 .language-terminal .highlight .s1,
 .language-terminal .highlight .s2 {
  color:#00CCEE
 }
 .language-terminal .highlight .sb {
  color:#f56b78
 }

 .showcase__hero .highlight-brand {
  color:#1389FD
 }
 .highlight .gp { /* @alternate */
  -webkit-user-select:none; /* @alternate */
  -moz-user-select:none; /* @alternate */
  -ms-user-select:none;
  user-select:none
 }

 @media screen {
  .str,
  .highlight .s,
  .highlight .s1,
  .highlight .s2 {
   color:#080
  }
  .kwd,
  .highlight .k,
  .highlight .kc,
  .highlight .kd,
  .highlight .kn,
  .highlight .kp,
  .highlight .kr,
  .highlight .kt,
  .highlight .na {
   color:#008
  }
  .com,
  .highlight .c,
  .highlight .c1,
  .highlight .cm {
   color:#800
  }
  .typ,
  .highlight .n {
   color:#606
  }
  .lit,
  .highlight .l,
  .highlight .no {
   color:#066
  }
  .pun,
  .highlight .p,
  .opn,
  .highlight .o,
  .clo {
    color:#660
   }
   .tag {
    color:#008
   }
   .atn {
    color:#606
   }
   .atv {
    color:#080
   }
   .dec,
   .var {
    color:#606
   }
   .fun {
    color:red
   }
  }

 @media print, projection {
  .str,
  .highlight .s,
  .highlight .s1,
  .highlight .s2 {
   color:#060
  }
  .kwd,
  .highlight .k,
  .highlight .kc,
  .highlight .kd,
  .highlight .kn,
  .highlight .kp,
  .highlight .kr,
  .highlight .kt,
  .highlight .na {
   color:#006;
   font-weight:bold
  }
  .com,
  .highlight .c,
  .highlight .c1,
  .highlight .cm {
   color:#600;
   font-style:italic
  }
  .typ,
  .highlight .n {
   color:#404;
   font-weight:bold
  }
  .lit,
  .highlight .l,
  .highlight .no {
   color:#044
  }
  .pun,
  .highlight .p,
  .opn,
  .highlight .o,
  .clo {
   color:#440
  }
  .tag {
   color:#006;
   font-weight:bold
  }
  .atn {
   color:#404
  }
  .atv {
   color:#060
  }
 }

.language-terminal .highlight {
  background:#212121;
  color:#64DD17
 }
 .language-terminal .highlight .gp {
  color:#9E9E9E
 }
 .language-terminal .highlight .go {
  color:white
 }
 .language-terminal .highlight .nb,
 .language-terminal .highlight .nt {
  color:#99BB00
 }
 .language-terminal .highlight .nv {
  color:#03bbbb
 }
 .language-terminal .highlight .o {
  color:#9E9E9E;
  font-weight:bold
 }
 .language-terminal .highlight .s,
 .language-terminal .highlight .s1,
 .language-terminal .highlight .s2 {
  color:#00CCEE
 }
 .language-terminal .highlight .sb {
  color:#f56b78
 }

 div.highlighter-rouge {
  margin-bottom:1rem
 }

.copy-icons {
  font: 24px/1 "Material Icons";
}
.code-excerpt__code {
  border:1px solid #dee2e6;
  margin-bottom:1rem;
  position:relative
 }
 .code-excerpt__code pre {
  background-color:#f8f9fa;
  margin-bottom:0
 }
 .code-excerpt__copy-btn {
  background:transparent;
  border:none;
  cursor:pointer;
  color:#7d7d7d;
  margin-top:0.5rem;
  outline:none !important;
  position:absolute;
  right:0
 }
 .code-excerpt__header {
  background-color:#e9ecef;
  border-top:1px solid #dee2e6;
  border-left:1px solid #dee2e6;
  border-right:1px solid #dee2e6;
  font-size:0.875rem;
  font-weight:500;
  padding-top:0.75rem;
  padding-left:1rem;
  padding-right:0.5rem;
  padding-bottom:0.67rem
 }
/*---------------------------Hightlighting code ends-----------------*/
