.markdown-toc{

}
.sidebar {
    clear:both
   }
   .sidebar::after {
    clear:both;
    content:"";
    display:table
   }
   @media (max-width: 64em) {
    .sidebar {
     position:relative;
     z-index:10;
     -webkit-transform:translate3d(0, 0, 0);
     transform:translate3d(0, 0, 0)
    }
   }
   @media (min-width: 64em) {
    .sidebar {
     float:left;
     width:calc(200px - 1em);
     opacity:0.75;
     -webkit-transition:opacity 0.2s ease-in-out;
     transition:opacity 0.2s ease-in-out
    }
    .sidebar:hover {
     opacity:1
    }
    .sidebar.sticky {
     overflow-y:auto;
     height:calc(100vh - 2em - 2em)
    }
   }
   @media (min-width: 80em) {
    .sidebar {
     width:calc(300px - 1em)
    }
   }
   .sidebar>* {
    margin-top:1em;
    margin-bottom:1em
   }
   .sidebar h2,
   .sidebar h3,
   .sidebar h4,
   .sidebar h5,
   .sidebar h6 {
    margin-bottom:0;
    font-family:-apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif
   }
   .sidebar p,
   .sidebar li {
    font-family:-apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
    font-size:.75em;
    line-height:1.5
   }
   .sidebar img {
    width:100%
   }
   .sidebar img.emoji {
    width:20px;
    height:20px
   }
   .sidebar__right {
    margin-bottom:1em;
   }
   @media (min-width: 64em) {
    .sidebar__right {
     position:absolute;
     top:0;
     right:0;
     width:200px;
     margin-right:-35%;
     padding-left:1em;
     z-index:10
    }
    .sidebar__right.sticky {
     clear:both;
     position:-webkit-sticky;
     position:sticky;
     top:2em;
     float:right;
     margin-top:-20%;
    }
    .sidebar__right.sticky::after {
     clear:both;
     content:"";
     display:table
    }
   }
   @media (min-width: 80em) {
    .sidebar__right {
     width:300px;
     margin-right:-45%;
    }
   }
   @media (min-width: 64em) {
    .splash .sidebar__right {
     position:relative;
     float:right;
     margin-right:0
    }
   }
   @media (min-width: 80em) {
    .splash .sidebar__right {
     margin-right:0
    }
   }
   .wide .sidebar__right {
    margin-bottom:1em
   }
   @media (min-width: 64em) {
    .wide .sidebar__right {
     position:initial;
     top:initial;
     right:initial;
     width:initial;
     margin-right:initial;
     padding-left:initial;
     z-index:initial
    }
    .wide .sidebar__right.sticky {
     float:none
    }
   }
   @media (min-width: 80em) {
    .wide .sidebar__right {
     width:initial;
     margin-right:initial
    }
   }